{% extends 'index.html' %}
{% load thumbnail humanize %}

{% block application %}

    <div class="house-detail">

        <div class="house">
            <h2 class="house-name">{{ house.name }}</h2>
            <div class="price">{{ house.price | intcomma }}</div>
            <div class="description">{{ house.description }}</div>
            {% thumbnail house.photo '650x400' crop='center' as im %}
                <img src="{{ im.url }}" alt="Дом {{ house.name }}">
            {% endthumbnail %}
        </div>


    <div class="order">
        <h2>Заявка</h2>

        {% if sent %}
            <p>Спасибо! Ваша заявка принята.</p>
        {% endif %}

        <form class="order-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить заявку</button>
        </form>
    </div>

    </div>
{% endblock %}
