{% extends 'index.html' %}
{% load thumbnail humanize %}

{% block application %}
    <h1>Список домов</h1>

    <form method="get" class="search-form">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>

    <div class="houses">
        {% for house in houses %}

            <div class="house">
                <h2><a href="{% url 'house' house_id=house.id %}">{{ house.name }}</a></h2>
                <div class="price">{{ house.price | intcomma}}</div>
                {% thumbnail house.photo '325x200' crop='center' as im %}
                    <img src="{{ im.url }}" alt="Дом {{ house.name }}">
                {% endthumbnail %}
            </div>

        {% endfor %}
    </div>

{% endblock %}